body,canvas,html,div,button{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#canvas{
	display: block;
	background: #eee url('../img/bg.png') repeat;
	/* height: 100vh; */
}
#btn{
	position: fixed;
	left: 0;
	bottom: 0;
}